enable
configure terminal
interface Gi0/1
switchport mode access
switchport access vlan 21
no shutdown
exit
end 
write memory

enable
configure terminal
interface gig1/0/2
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk native vlan 999
 switchport trunk allowed vlan 20,21,999
exit
